<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InvestIQ - Home</title>
</head>
<body>
    <div class="nav-bar">
        <div class="logo">
            <img src="../../static/image/logo_light_no_text.png" alt="InvestIQ Logo">
        </div>
        <div class="auth-buttons">
            <a href="login">Sign In</a>
            <a href="{% url 'user_signup_view' %}">
                <button>Sign Up</button>
            </a>
        </div>
    </div>
    <div class="content">
        <h1 class="headline">Unlock Your Investment Potential with InvestIQ</h1>
        <h2 class="subheading">Personalized Stock Recommendations Tailored Just for You</h2>

        <p class="body-text">At InvestIQ, we simplify smart investing with our AI-powered Stock Recommendation System, offering tailored stock suggestions based on your unique preferences. Whether you're a novice or refining your strategy, we help you make confident investment choices.</p>

        <a href="login" class="cta-button">Discover Your Stocks</a>
    </div>
    <div class="arrow-image">
        <img src="../../static/image/trend_arrow.png" alt="Arrow" width="100">
    </div>
</body>
</html>
